@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: blue;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    position: relative;
}

.overlay {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    pointer-events: none; /* Prevent the overlay from blocking interactions */
}

.overlay a {
    pointer-events: auto; /* Allow links in the overlay to be clickable */
}

.down {
    color: white;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.down .social_icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.down .social_icon li {
    list-style: none;
    margin: 5px 0;
}

.down .social_icon li a {
    font-size: 1.5em;
    color: aliceblue;
    transition: 0.1s;
    text-decoration: none;
}

.down .social_icon li a:hover {
    color: rgb(242, 255, 2);
}

.text-overlay {
    color: white;
    display: flex;
    align-content: center;
    position: absolute;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    flex-direction: row;
    margin: auto;
    padding: 25px;
}

.text-overlay a{
color: white;
text-decoration: none;
}

.text-overlay a:hover{
    color: rgb(234, 255, 0);
    text-decoration: none;
    }
    
.hero,
.about,
.education,
.skills,
.designs {
    width: 100%; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 56px;
}
.hero-text h1{
    color: white;
    text-align: center;
    font-size: 56px;
    font-family: "MedievalSharp", cursive;
    font-weight: 400;
    font-style: normal;
}
.hero-text h1.name{
    font-family: "Rock Salt", cursive;
font-weight: 400;
font-style: normal;
}

.main-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    flex-wrap: nowrap;
    align-content: center;
}

.hero-img {
    max-width: 80%;
    height: auto;
    display: block;
}

marquee{
    font-size: 21px;
    background-color: black;
    padding: 10px;
    color: yellow;
}

.about,
.education,
.skills,
.designs {
    background-color: blue;
    color: white;
}
