* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: blue;
}

.container {
    display: flex;
    flex-direction: row;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-overlay {
    color: white;
    display: flex;
}

.hero,
.about,
.education,
.skills,
.designs
{
    width: 100vw; /* Adjust to fit each section within viewport width */
    height: auto;
    vertical-align: top;
}

h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-img {
    max-width: 80%;
    height: auto;
    display: block;
}

.marquee {
    background-color: blue;
}

.about {
    background-color: blue;
}
.education {
    background-color: blue;
}

.skills {
    background-color: blue;
}

.designs {
    background-color: blue;
}
